body {
    font-family: Arial, sans-serif;
}

header.jumbotron {
    background-color: #f8f9fa;
    margin-bottom: 0;
}

footer {
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.table-contact {
    border: none;
    text-align: center;
    
}
